root: true

parserOptions:
  ecmaVersion: 2022
  sourceType: "module"

env:
  es2022: true
  browser: true

globals:
  noUiSlider: readonly
  Pristine: readonly

rules:
  quotes: [1, "double", "avoid-escape"]
  no-unused-vars: warn
  no-console: warn
    
extends:
  "htmlacademy/vanilla"
